# INSTRUCCIÓN: Copia este archivo, renómbralo a ".env" y completa los valores según tus credenciales.

MONGODB_URI=mongodb://localhost:27017/todolist_v2_db

PORT=4000

GOOGLE_CLIENT_ID= ---------> TU_CLIENT_ID_AQUI.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=--------> TU_CLIENT_SECRET_AQUI
GOOGLE_CALLBACK_URL=https://localhost:4000/api/auth/google/callback


JWT_SECRET=--------> CAMBIA_ESTO_POR_UNA_CADENA_SECRETA_LARGA_Y_ALEATORIA
JWT_EXPIRES_IN=7d

SESSION_SECRET=------->CAMBIA_ESTO_POR_OTRA_CADENA_SECRETA

URL_FRONTEND=https://localhost:5173
